.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  max-width: 200px; /* Adjust the maximum width */
}

.card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-info {
  font-size: 14px;
}

.card-rating {
  color: #FF9800;
}

.card img {
  max-width: 30%; /* Ensure the image fits within the card */
}

.search-input {
  width: 500px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 8px; /* Adjust the padding as needed */
}

.search-button {
  width: 100px;
  height: 40px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 8px 16px; /* Adjust the padding as needed */
}

.compass-control {
  position: absolute;
  top: 50px;
  right: 0px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  padding: 3px; /* Adjust the padding to change the size */
  font-size: 12px; /* Adjust the font size */
  z-index: 1;
  max-width: 10%; 
  height: 50px;
}



img {
  width: 100px; /* Set the desired width */
  height: 50px; /* Set the desired height */
}